pipeline/pl-2104_1_1_ToRaw_Product.json
{
	"name": "pl-2104_1_1_ToRaw_Product",
	"properties": {
		"activities": [
			{
				"name": "Lookup Config File Delta Lake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_2104_RawFileCsv",
						"type": "DatasetReference",
						"parameters": {
							"blobcontainer": {
								"value": "@pipeline().parameters.blobcontainerconfig",
								"type": "Expression"
							},
							"path": {
								"value": "@pipeline().parameters.rawfolderfilepathconfig",
								"type": "Expression"
							},
							"filename": "config_2104_DeltaLake.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Config Product Flow To Load",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Config File Delta Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config File Delta Lake').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SubEntity,'PRODUCT')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check if Raw Folder Exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Filter Config Product Flow To Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_2104_RawFileCsv",
						"type": "DatasetReference",
						"parameters": {
							"blobcontainer": {
								"value": "@activity('Filter Config Product Flow To Load').output.Value[0].FunctionalDomain",
								"type": "Expression"
							},
							"path": {
								"value": "@concat(activity('Filter Config Product Flow To Load').output.Value[0].flowId,'/',activity('Filter Config Product Flow To Load').output.Value[0].Datasource, '/' ,activity('Filter Config Product Flow To Load').output.Value[0].Entity,'/', activity('Filter Config Product Flow To Load').output.Value[0].IngestionType, '/', activity('Filter Config Product Flow To Load').output.Value[0].SubEntity,'/'\n)",
								"type": "Expression"
							},
							"filename": "Product.csv"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check if Raw folder exists and Product Flow is Active",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check if Raw Folder Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Check if Raw Folder Exists').output.exists, true), equals(activity('Filter Config Product Flow To Load').output.Value[0].TempFlagToLoad ,1) )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Clean raw Folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_2104_RawFileCsv",
									"type": "DatasetReference",
									"parameters": {
										"blobcontainer": {
											"value": "@pipeline().parameters.blobcontainerconfig",
											"type": "Expression"
										},
										"path": {
											"value": "@pipeline().parameters.rawfolderfilepathconfig",
											"type": "Expression"
										},
										"filename": "Product.csv"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"blobcontainerconfig": {
				"type": "String",
				"defaultValue": "projectconfig"
			},
			"rawfolderfilepathconfig": {
				"type": "String",
				"defaultValue": "2104_IAC_Transportation_WareHouse"
			}
		},
		"folder": {
			"name": "1 - ToRaw"
		},
		"annotations": []
	}
}