pipeline/pl_MoveToRaw_Facts.json
{
	"name": "pl_MoveToRaw_Facts",
	"properties": {
		"activities": [
			{
				"name": "Lookup Config Files",
				"description": "Lookup config file in Datalake and load tables from SQLDB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sink_dl",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "config",
							"directoryPath": "tsqlv6",
							"fileName": "config_tsqlv6_Facts.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter For OrderDetails",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Config Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config Files').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().tableName,'OrderDetails')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check If Orders Loaded",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Filter For OrderDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[checkifOrdersLoaded]"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Loop and Load OrderDetails",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check If Orders Loaded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter For OrderDetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy SQL to DL OrderDetails",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().schemaName",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_dl",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@item().containerName",
											"type": "Expression"
										},
										"directoryPath": {
											"value": "@item().directoryPath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "filtering all other tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Config Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config Files').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().tableName, 'OrderDetails' ))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Loop and load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filtering all other tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filtering all other tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy SQL to DL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().schemaName",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_dl",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@item().containerName",
											"type": "Expression"
										},
										"directoryPath": {
											"value": "@item().directoryPath",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}